<%- partial('_partial/head') %>
<body>
  <div class="mask mt"></div><div class="mask mb"></div><div class="mask mv ml"></div><div class="mask mv mr"></div><div class="mask mv ml2"></div><div class="mask mv mr2"></div>
  <div class="main">
      <%- partial('_partial/header') %>
    <main class="section content">
      <div class="inner">
        <%- body %>
      </div>
      
    </main>
    
  <%- partial('_partial/after-footer') %>
</div>

</body>
</html>
