// 自定义颜色
color-theme = theme-config("color.theme_color","#F60C3E")
color-normal-text = theme-config("color.normal_text","#333333")
color-sidebar-bg = theme-config("color.sidebar_bg","#007ACC")
color-sidebar-normal-text = theme-config("color.sidebar_normal_text","#D7D7D7")
color-main-bg = theme-config("color.main_bg","#007ACC")


// Sidebar
side-width = 240px

// Mask
mask-width = .8rem

// Media queries
mq-change = "screen and (max-width:1000px)"

//Fonts
line-height = 1.8em
line-height-title = 1.1em

// Layout
block-margin = 50px
article-padding = 20px