#post
    line-height 1.5em
    & >.inner
        display flex
        height auto
        flex-direction row
        justify-content space-between
        border-bottom 1px dotted #999
        aside
            flex-basis 240px
            border-left 1px dotted #DDDDDD
            flex-shrink 0
            position -webkit-sticky
            margin-bottom 30px
            position sticky
            padding 20px
            top 3rem
            height 100%
            .aside-date
              margin-bottom 30px
            .aside-h5
              font-size 0.9em
              &:before
                content '\▪︎ '
                color color-theme
            .span
                font-size 0.8em
                margin-left 10px
            .span-toc
                font-size 0.8em
                margin-left 10px
                a
                  color color-normal-text
                  transition 0.2s
                  &:hover
                    color color-theme
        @media mq-changeagain
          aside
            display none

                  

.article-main
  @extend $base-style
  clearfix()
  color: color-normal-text
  padding: 0 article-padding
  ul>li
    list-style disc
  ol>li
    list-style decimal
  p, table
    line-height: line-height
    margin: line-height 0
  h1, h2, h3, h4, h5, h6
    font-weight: bold
    color: color-normal-text
  .article-title
    font-size 2.2em
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: color-theme
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid #888888
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid #888888
    padding: 10px 5px
  blockquote
    font-size: 1em
    border-left: 5px solid color-theme
    padding-left 20px
    margin-bottom: 10px
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-normal-text
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0
    

.comment-title
  text-align center
  margin-top 30px
  font-weight bold
  &:before
     content '\▪︎ '
     color color-theme
  &:after
     content '\ ▪︎'
     color color-theme

